body, html
  height: auto !important
  min-height: 100% !important
  position: relative !important

#DropMeme
  z-index: 9999
  position: absolute
  top: 0; left: 0
  width: 100%; height: 100%
  background-color: #000
  background-color: rgba(0,0,0,.8)

  *
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

  .DropMemeContainer
    a
      display: block
      position: absolute

      &:hover
        background-color: #ff9d3e
        outline: 2px solid #ff9d3e

    img
      display: block
      width: 100%
